body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.filter__applies ul li h2 span {
  float: right;
  color: #656565;
  cursor: pointer;
  font-size: 18px;
  margin: -1px 0 0 5px;
}