<div class="container-fluid">
  <h1 class="mt-4">Listado de usuarios</h1>
  <table class="audioTable" id="myTable">
    <thead>
      <tr>
        <th>Nombre de usuario</th>
        <th>Apellido de usuario</th>
        <th>ID de usuario</th>
      </tr>
    </thead>
    <tbody>
    {{#each users.content}}
      <tr>
        <td>{{this.name}}</td>
        <td>{{this.surname}}</td>
        <td>{{this.username}}</td>
        <td><button type="button" class="btn btn-primary eliminar-usuario">Eliminar</button></td>
      </tr>
    {{/each}}
    </tbody>
  </table>
<div class="container-fluid">