  <h3>Configuracion de gesti칩n</h3>
 <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="validationTooltip00">Interfaz gesti칩n</label>
      <input id="interface-mgmt" type="text" class="form-control"  placeholder="" value="eth0" readonly>
      
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationTooltip00">Direcci칩n Managment</label>
      <input id="address-mgmt" type="text" class="form-control"  placeholder="" value={{ip}} required>
      
    </div>
    <div class="col-md-6 mb-3">
      <label for="validationTooltip02">M치scara</label>
      <input id="mask-mgmt" type="text" class="form-control" id="validationTooltip02" placeholder="" value="255.255.255.0" required>
      
    </div>
     <div class="col-md-6 mb-3">
      <label for="validationTooltip02">Gateway</label>
      <input id="gw-mgmt" type="text" class="form-control" id="validationTooltip02" placeholder="" value="192.168.1.11" required>
      
    </div>
    <button id="" onclick="applyFiltermgmt()"  type="button" class="btn btn-primary btn-lg">Aplicar configuracion</button>

  </div>
  <ul id="boxMGMTFilter" class="list-group">

    
</ul>
<script>
  localStorage.setItem('x',document.getElementById("#ip-mgmt-id"))
</script>
