<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iframe</title>
</head>

<body>

    <h1>Estado de sondas</h1><br>
    <h3>Estadísticas de componentes</h3><br>
     
     <div>
        
        <table style="width: 70%;">
          <thead>
           <tr>
            <th>Métricas</th>
            <th>Componentes</th>
           </tr>
          </thead>
          <tbody>
           <tr>
            <td>
             <div class="select">
              <select id="tiempo" class="select">
               <option value="dia">Día</option>
               <option value="mes">Mes</option>
               <option value="semana">Semana</option>
               <option value="año">Año</option>
              </select>
              <div class="select_arrow">
              </div>
             </div>
            </td>
            <td>
             <div class="select">
              <select id="dispositivos" class="select">
               <option value="bond0">Bond0</option>
               <option value="eth0">Interfaz de eth0</option>
               <option value="eth1">Interfaz de eth1</option>
               <option value="eth2">Interfaz de eth2</option>
               <option value="eth3">Interfaz de eth3</option>
               <option value="cpu">CPU</option> 
               <option value="memory">Memoria</option>
               <option value="temperatura">Temperatura Sonda</option>
               </select>
              <div class="select_arrow">
              </div>
             </div>
            </td>
           </tr>
         </tbody>
        </table>
        <div id="imagenes">
            <img src="/imagenes/bandwidth-bond0-day.png" name="dia-bond0" id="Estado" alt="" style="width:60%;">
            <img src="/imagenes/bandwidth-bond0-week.png" name="semana-bond0" id="Estado" alt="" style="width: 60%; display:none;"> 
            <img src="/imagenes/bandwidth-bond0-month.png" name="mes-bond0" id="Estado" alt="" style="width:60%; display:none;">
            <img src="/imagenes/bandwidth-bond0-year.png" name="año-bond0" id="Estado" alt="" style="width:60%; display:none;">
            <img src="/imagenes/bandwidth-eth0-day.png" name="dia-eth0" id="Estado" alt="" style="width:60%; display:none;">
            <img src="/imagenes/bandwidth-eth0-week.png" name="semana-eth0" id="Estado" alt="" style="width:60%;display:none">
            <img src="/imagenes/bandwidth-eth0-month.png" name="mes-eth0" id="Estado" alt="" style="width:60%;display:none">
            <img src="/imagenes/bandwidth-eth0-year.png" name="año-eth0" id="Estado" alt="" style="width:60%;display:none"> 
            <img src="/imagenes/bandwidth-eth1-day.png" name="dia-eth1" id="Estado" alt="" style="width:60%;display:none; ">
            <img src="/imagenes/bandwidth-eth1-week.png" name="semana-eth1" id="Estado" alt="" style="width:60%;display:none">
           <img src="/imagenes/bandwidth-eth1-month.png" name="mes-eth1" id="Estado" alt="" style="width:60%;display:none">
           <img src="/imagenes/bandwidth-eth1-year.png" name="año-eth1" id="Estado" alt="" style="width:60%;display:none">
           <img src="/imagenes/bandwidth-eth2-day.png" name="dia-eth2" id="Estado" alt="" style="width:60%;display:none">
           <img src="/imagenes/bandwidth-eth2-week.png" name="semana-eth2" id="Estado" alt="" style="width:60%;display:none">
           <img src="/imagenes/bandwidth-eth2-month.png" name="mes-eth2" id="Estado" alt="" style="width:60%;display:none">
           <img src="/imagenes/bandwidth-eth2-year.png" name="año-eth2" id="Estado" alt="" style="width:60%;display:none">
          <img src="/imagenes/bandwidth-eth3-day.png" name="dia-eth3" id="Estado" alt="" style="width:60%;display:none;" >
          <img src="/imagenes/bandwidth-eth3-week.png" name="semana-eth3" id="Estado" alt="" style="width:60%;display:none">
          <img src="/imagenes/bandwidth-eth3-month.png" name="mes-eth3" id="Estado" alt="" style="width:60%;display:none">
          <img src="/imagenes/bandwidth-eth3-year.png" name="año-eth3" id="Estado" alt="" style="width:60%;display:none">
          <img src="/imagenes/cpu-day.png" name="dia-cpu" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/cpu-week.png" name="semana-cpu" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/cpu-month.png" name="mes-cpu" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/cpu-year.png" name="año-cpu" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/memory-day.png" name="dia-memory" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/memory-week.png" name="semana-memory" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/memory-month.png" name="mes-memory" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/memory-year.png" name="año-memory" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/temperature-day.png" name="dia-temperatura" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/temperature-week.png" name="semana-temperatura" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/temperature-month.png" name="mes-temperatura" id="Estado" alt="" style="width:60%;display:none;">
          <img src="/imagenes/temperature-year.png" name="año-temperatura" id="Estado" alt="" style="width:60%;display:none;">
        </div>
    </div>
<script>
    const tiempo = document.getElementById('tiempo')
    const dispositivos = document.getElementById('dispositivos')
    var images = document.getElementById('imagenes').querySelectorAll("img")

    var iframe = document.getElementById('Estado');
    function Actualizar() {
        iframe.src = iframe.src;
        images = document.getElementById('imagenes').querySelectorAll("img");
    }
        
    function getSelect(sel){
      var opt;
      for ( var i = 0, len = sel.options.length; i < len; i++ ) {
        opt = sel.options[i];
        if ( opt.selected === true ) {
            break;
        }
      }
      return opt.value;
    }

    function showImage(name,dev){
        for(var i=0;i<images.length;i++){
            if(images[i].name == name+"-"+dev){
                images[i].style.display = "block"
                continue
            }
            images[i].style.display = "none"
        }
    }

    function selectImage(){
        var selDev = getSelect(dispositivos)
        var selTiempo = getSelect(tiempo)
        showImage(selTiempo,selDev)
    }

    tiempo.onchange = selectImage
    dispositivos.onchange = selectImage
    var myVar = setInterval(Actualizar, 100000);
</script>
</body>

</html>
